#styled {
  color: chartreuse;
  padding: 30px;
  background-color: blanchedalmond;
  border-color: powderblue;
  border-style: dotted;
}
.styled {
  color: khaki;
  padding: 15px;
  background-color: salmon;
  border-color: forestgreen;
  border-style: groove;
}
